<div>
  <div class="col-12 tab-navbar tab-container">
    <ul class="nav d-flex">
      <li class=" tab-brand disabled">
        <a class="text-secondary nav-link pl-0 font-lg" [routerLink]="['../']">
          <i class="fa fa-chevron-left pr-1"></i><span [translate]="'OpenBadges.BadgeClasses.Title'"></span></a>
      </li>
    </ul>

    <div class="row pt-2 pb-2">
      <div class="col-auto">
        <h1 class="my-auto px-0 py-2">{{model.name}}</h1>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title" [translate]="'General Information'"></h5>
      <div *ngIf="model">
          <advanced-form-edit [(data)]="model" [formName]="'OpenBadgeClasses/edit'"></advanced-form-edit>
      </div>
      <div>
          <button class="btn btn-primary" (click)="save()" [translate]="'Submit'">
          </button>
      </div>
    </div>
  </div>
</div>
